// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1170px;
}


body {
padding-top: 60px;
padding-bottom: 40px;
}

input {
width:80%; 
box-sizing: border-box;
}

input[type=text] {height: 30px;}
input[type=number] {height: 30px;}
input[type=email] {height: 30px;}
input[type=date] {height: 30px}

input, textarea, .uneditable-input {
margin-left: 0;
max-height: 100px;
width:80%;
}

select {
width: 39%;
}

.container {
margin-right: 10%;
margin-left: 10%;
width:83%;
}

.hero-unit {
background-color: #33BBFF;
min-width:350px;
min-height:225px;
padding-top: 40px;
}

.hero-container {
width: 50%;
float:left;
}

.control-group-cash a {
font-family:"Helvetica",Gadget,sans-serif;
font-size: 23px;
}
.picture {
width: 50%;
float:right;
}

.row {
max-height: 800px;
}

.span5 {
background-color:#FFFFFF;
padding-left: 0px;
max-width: 30%;
}


.span5 p b {
font-size: 20px;
}

.span5 #dishes .placeholder p {
margin-top: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.pull-left {
	padding-top: 4%;
	padding-left: 4%;
	margin-bottom: 10px;
	margin-right: 10px;
	display: block;
}

.media-heading {
	padding-top: 0px;
	margin-top: 0px;
}

.span5 p {
font-size: 15px;
padding-top: 15px;
}

.btn {
display: block;
}

