// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1170px;
}

body {
padding-top: 60px;
padding-bottom: 40px;
}

blockquote.pull-right{
	display:block;
	width:100%;
	margin: 0 0 2px 0;
	margin-bottom:2px;
	padding-bottom:2px;

}

h1 small {
font-size: 24px;
color: #FFFFFF;
}

input {/*
width:80%; */
box-sizing: border-box;
}

blockquote small {
  font-size:15px;
  content: '';
}

blockquote.pull-right small:after {
  content: '';
}

input[type=text] {height: 30px;}
input[type=number] {height: 30px;}
input[type=email] {height: 30px;}
input[type=date] {height: 30px}

input, textarea, .uneditable-input {
margin-left: 0;
max-height: 100px;
width:90%;
}

select {
width: 39%;
}

/*.container {
max-width:960px;
}
*/
.hero-unit {
background-color: #33BBFF;
min-height:225px;
padding-top: 40px;
padding-bottom: 20px;
padding-right: 50px;
padding-left: 50px;
}

.icon {
background-image: url(/assets/glyphicons-halflings.png);
}

.hero-container {
width: 50%;
float:left;
}

.control-group-cash a {
font-family:"Helvetica",Gadget,sans-serif;
font-size: 23px;
}
.picture {
width: 50%;
float:right;
}

/*.row {
max-height: 800px;
}
*/
.span5 {
background-color:#FFFFFF;
padding-left: 0px;
max-width: 30%;
}


.span5 p b {
font-size: 20px;
}

.span5 #dishes .placeholder p {
margin-top: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.pull-left {
margin: auto;
padding-top: 12px;
padding-left: 4%;
padding-right: 4%;
/*margin-bottom: 10px;
margin-right: 10px;*/
/*	display: block;
align: center;*/
display: block;
}


.media-heading {
padding-top: 0px;
display: block;
margin-top: 0px;
padding-right: 75px;
}

#dishes_for_seeing {
width: 100px; 
margin-top: 0px;
padding-top: 0px;
display:inline-block;
}

#other_dish {
height: 20px;
margin-left: 10px;
}

#no_more {
	padding: 0px 0px 0px 0px;
	border-bottom: 0px;
}

.navbar-inverse .brand {
	color: #FFFFFF;
}

.svg_pic {width: 60px;float:left}

.span5 p {
font-size: 15px;
}


#new_guest {
display: block;
width: 91%;
padding-right: 0;
padding-left: 0;
display: inline-block;
*display: inline;
padding: 4px 14px;
margin-bottom: 0;
*margin-left: .3em;
font-size: 14px;
line-height: 20px;
*line-height: 20px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
*background-color: #e6e6e6;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #bbbbbb;
*border: 0;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
*zoom: 1;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
margin-top: 20px;
font-size: 100%;
vertical-align: middle;
*overflow: visible;
line-height: normal;
cursor: pointer;
font-size: 14px;
font-weight: normal;
line-height: 20px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

