// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.span5 {
.container {
margin-top: -9%;
}}*/

.field a {
font-size: 15px;
}

#suggested_amount {
font-size: 15px;
text-align:left;
}

#how_much {
text-align:left;
margin-left:10%;
}

#field {
text-align:left;
}


button.btn {
margin-top:5px;
padding-top:5px;
margin-bottom: 15px;
padding-bottom:8px;
margin-left:10%;
width:80%;
}

#dishes_for_clicking {
margin-left:10%;
text-align:left;
}