// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container h3 {
	margin-top: 0px;
}

.field a {
	font-size: 15px;
}

#suggested_amount {
	font-size: 15px;
}

button.btn {
	margin-top:5px;
	padding-top:5px;
	margin-bottom: 15px;
	padding-bottom:8px;
}