// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.span5 {
.container {
margin-top: -9%;
}}*/

.field a {
color: #333;
font-size: 15px;
}

#suggested_amount {
font-size: 15px;
text-align:center;
padding-right: 10%;
}

#how_much {
margin-top: -15px;
text-align:left;
margin-left:10%;
}

#field {
text-align:left;
}

#warning_name {
color: #B94A48;
background-color: #DA4F49;
padding: 15px 15px 8px 14px;
margin-bottom: 20px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline;
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
width:100%;
border-color: #EED3D7;
}

#error_explanation {
width: 450px;
border: 2px solid red;
padding: 7px;
padding-bottom: 0;
margin-bottom: 20px;
background-color: #f0f0f0;
h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
margin-bottom: 0px;
background-color: #c00;
color: #fff;
}
}

#bringin_somethin {
margin-top:5px;
padding-top:5px;
margin-bottom: 15px;
padding-bottom:8px;
margin-left:10%;
width:80%;
}

#dishes_for_clicking {
margin-bottom: 20px;
margin-left:10%;
text-align:left;
}