body {
background-color: #fff;
color: #333;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 300;
font-size: 14px;
line-height: 18px;
}

p, ol, ul, td {
font-size: 15px;
line-height: 18px;
}

pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
}

a {
&:visited {
color: #666;
}
&:hover {
color: #fff;
background-color: #000;
}
}

.popover-footer {
padding: 8px 14px;
text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.popover-content p {
text-align: center;
}

.popover-content #redundancy {
text-align: right;
}

.popover-title {
text-align: center;
}

div {
&.field, &.actions {
margin-bottom: 10px;
}
}

.hero-unit h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
}

#notice {
color: green;
}

.field_with_errors {
color: #B94A48;
background-color: #DA4F49;
border-color: #EED3D7;
padding: 15px 15px 8px 14px;
margin-bottom: 20px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline;
}

#error_explanation {
width: 450px;
border: 2px solid red;
padding: 7px;
padding-bottom: 0;
margin-bottom: 20px;
background-color: #f0f0f0;
h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
margin-bottom: 0px;
background-color: #c00;
color: #fff;
}

ul li {
font-size: 12px;
list-style: square;
}
}
