<!DOCTYPE html5>
<html>
<head>
  <meta charset="utf-8">

  <title>What2Bring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="Mr. Timothy Miller, esq." content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="../assets/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand">What2Bring</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="../events/new">New Event</a></li>
                  <li><a href="#about" onClick="$('#about').modal()">About</a></li>
                </ul>

              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div class="container"> 
          <%= yield %>
        </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <!--
    <script src="assets/bootstrap-transition.js"></script>
    <script src="assets/bootstrap-alert.js"></script>
    <script src="assets/bootstrap-dropdown.js"></script>
    <script src="assets/bootstrap-scrollspy.js"></script>
    <script src="assets/bootstrap-tab.js"></script>
    <script src="assets/bootstrap-tooltip.js"></script>
    <script src="assets/bootstrap-popover.js"></script>
    <script src="assets/bootstrap-button.js"></script>
    <script src="assets/bootstrap-collapse.js"></script>
    <script src="assets/bootstrap-carousel.js"></script>
    <script src="assets/bootstrap-typeahead.js"></script> --> 
<!-- Modal -->
<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">What is What2Bring?</h3>
  </div>
  <div class="modal-body">
    <p><strong>What2Bring makes event planning easy.</strong></p>
    <br>
    <p>Suppose you're Alice, and you want to plan a tea party.  Your table is only big enough for three guests, but you want to invite everyone in Wonderland.  Also, you need somebody to bring crumpets, somebody to bring cake, and somebody to bring the tea!</p><br><p>Fortunately, Alice has What2Bring.  She creates an event and sends the link to all her friends in Wonderland.  Now, nobody feels left out.  When it's teatime, Alice knows who's coming and what they're bringing–and not everybody is bringing crumpets.</p><br>
  </div>
  <div class="modal-footer">
  </div>
</div>

    </body>
    </html>